.content {
    display: flex;
    position: relative;
    font-family: "Tabac Mono", monospace;
    height: calc(100vh - (10rem * (100 / 100)));
    min-height: 80rem;

    &__item {
        width: 50%;
        padding-left: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &__text {
            width: 100%;
            justify-content: left;
            height: fit-content;
            &__intro {
                color: rgb(124, 132, 141);
                font-size: 4rem;
                margin-bottom: 2rem;
            }

            &__name {
                color: white;
                font-size: 11rem;
                font-weight: bold;
                margin-bottom: 2rem;
            }

            &__description {
                &-1 {
                    color: rgb(115, 165, 221);
                    font-size: 4rem;
                    margin-bottom: 2rem;
                }
                &-2 {
                    color: white;
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
