*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: rgb(5, 6, 10);
  border: 0.125rem solid rgb(33, 40, 53);
}

body {
  box-sizing: border-box;
}

.header {
  border-bottom: 0.125rem solid rgb(33, 40, 53);
  color: rgb(117, 134, 156);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  font-family: "Tabac Mono", monospace;
  position: relative;
  height: 6rem;
}
.header__title {
  align-items: center;
  font-size: 2rem;
  border-right: 0.125rem solid rgb(33, 40, 53);
  margin-left: 7rem;
  display: flex;
  width: 30%;
}
@media only screen and (max-width: 87.5em) {
  .header__title {
    width: 15%;
  }
}
@media only screen and (min-width: 87.5em) and (max-width: 93.75em) {
  .header__title {
    width: 20%;
  }
}
.header__menu {
  width: 70%;
  display: flex;
}
.header__menu__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
}
.header__menu__list__option {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}
.header__menu__list__option:nth-child(5) {
  flex-grow: 1;
  width: auto;
}
.header__menu__list__option:last-child {
  justify-content: flex-end;
  margin-right: 5rem;
  width: 20rem;
}
.header__menu__list__option:not(:last-child) {
  border-right: 0.125rem solid rgb(33, 40, 53);
}
.header__menu__list__option a {
  text-decoration: none;
  color: inherit;
}
.header__menu__list__option__select {
  background-color: rgb(18, 24, 31);
  color: rgb(224, 182, 96);
}
.header__menu__list__option__select::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(182, 79, 88);
}

.footer {
  position: relative;
  border-top: 0.125rem solid rgb(33, 40, 53);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  font-family: "Tabac Mono", monospace;
  color: rgb(117, 134, 156);
  height: 5rem;
}
.footer__content {
  width: 100%;
  display: flex;
}
.footer__content__nav {
  width: 80%;
  border-right: 0.125rem solid rgb(33, 40, 53);
  display: flex;
  position: relative;
}
.footer__content__nav__menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.footer__content__nav__menu__option {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.125rem solid rgb(33, 40, 53);
  width: 8rem;
}
.footer__content__nav__menu__option-1 {
  justify-content: end;
  padding-right: 2rem;
  width: 20rem;
}
.footer__content__nav__menu__option:last-child {
  flex-grow: 1;
}
.footer__content__nav__menu__option a {
  text-decoration: none;
  color: inherit;
}
.footer__content__nav__menu__option__scrolling_text {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.footer__content__copyright {
  display: flex;
  width: 20%;
  align-items: center;
  justify-items: center;
  font-size: 1.2rem;
  padding-left: 2rem;
}

.content {
  display: flex;
  position: relative;
  font-family: "Tabac Mono", monospace;
  height: calc(100vh - 10rem);
  min-height: 80rem;
  justify-content: space-between;
}
.content__item {
  display: flex;
  align-items: center;
  padding-left: 7rem;
  padding-right: 7rem;
}
.content__item__text {
  width: 100%;
  justify-content: left;
  height: fit-content;
}
.content__item__text__intro {
  color: rgb(124, 132, 141);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.content__item__text__name {
  color: white;
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.content__item__text__description-1 {
  color: rgb(115, 165, 221);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.content__item__text__description-2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.content__item__projects {
  border: 0.125rem solid rgb(33, 40, 53);
  border-radius: 1.2rem;
  width: 70rem;
  height: 45rem;
  padding: 3rem;
  position: relative;
}
@media only screen and (max-width: 103em) {
  .content__item__projects {
    width: 60rem;
  }
}
.content__item__projects__project {
  display: none;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.content__item__projects__project__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.content__item__projects__project__title {
  font-size: 2rem;
  color: rgb(224, 182, 96);
}
.content__item__projects__project__date {
  color: rgb(117, 134, 156);
  font-size: 1.5rem;
}
.content__item__projects__project__image {
  width: 100%;
  background-size: cover;
  height: 100%;
}
.content__item__projects__project__active {
  display: flex;
}
.content__item__projects__navbar {
  border-radius: 10rem;
  width: 3rem;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  z-index: 1;
}
.content__item__projects__navbar__button {
  border: none;
  border-radius: 50%;
  background-color: lightgray;
  width: 1rem;
  height: 1rem;
}
.content__item__projects__navbar__button__active {
  background-color: white;
}
.content__item__projects__navbar__container {
  padding-left: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*# sourceMappingURL=app.css.map */
