$color-primary-heading-font: rgb(117, 134, 156);
$color-secondary-heading-font: rgb(224, 182, 96);
$color-background-dark: rgb(5, 6, 10);
$color-border-primary: rgb(33, 40, 53);

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
